apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "sdc.labels" . | nindent 4 }}
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      {{- include "sdc.selectorLabels" . | indent 6 }}
  template:
    metadata:
      labels:
        {{- include "sdc.labels" . | nindent 8 }}
        sdcio.dev/data-server: "true"
    spec:
      securityContext:
        runAsUser: 10000
        runAsGroup: 10000
        fsGroup: 10000
      serviceAccountName: {{ .Values.serviceAccount.name }}
      containers:
      - name: config-server
        image: {{ include "config-server.image" . }}
        imagePullPolicy: Always
        command:
        - /app/config-server
        args:
        - "--tls-cert-file=/apiserver.local.config/certificates/tls.crt"
        - "--tls-private-key-file=/apiserver.local.config/certificates/tls.key"
        - "--audit-log-path=-"
        - "--audit-log-maxage=0"
        - "--audit-log-maxbackup=0"
        - "--secure-port=6443"
      {{- range $key, $value := .Values.configServer.extraArgs }}
        {{- if $value }}
        - "--{{ $key }}={{ $value }}"
        {{- else }}
        - "--{{ $key }}"
        {{- end }}
      {{- end }}
        ports:
        - name: api-service
          containerPort: 6443
        env:
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        - name: "NODE_NAME"
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
        - name: "NODE_IP"
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: status.hostIP
        {{- range $key, $value := .Values.configServer.env }}
        - name: {{ $key }}
          value: "{{ $value }}"
        {{- end }}
        volumeMounts:
        - name: apiserver-certs
          mountPath: /apiserver.local.config/certificates
          readOnly: true
        - name: config-store
          mountPath: /config
        - name: schema-store
          mountPath: /schemas
        - name: workspace-store
          mountPath: /workspace
        resources:
          {{- toYaml .Values.configServer.resources | nindent 10 }}
      - name: data-server
        image: {{ include "data-server.image" . }}
        imagePullPolicy: Always
        command:
        - /app/data-server
        args:
        - "--config=/config/data-server.yaml"
        ports:
        - name: data-service
          containerPort: 56000
        volumeMounts:
        - name: data-server-config
          mountPath: /config
        - name: cache
          mountPath: /cached/caches
        - name: schema-store
          mountPath: /schemas
        - name: schema-db
          mountPath: /schemadb
        resources:
          {{- toYaml .Values.dataServer.resources | nindent 10 }}
      volumes:
      - name: data-server-config
        configMap:
          name: data-server
      - name: apiserver-certs
        secret:
          secretName: config-server-cert
      - name: cache
        emptyDir:
          sizeLimit: 10Gi
      - name: config-store
        persistentVolumeClaim:
          claimName: pvc-config-store
      - name: schema-store # yang file from git
        persistentVolumeClaim:
          claimName: pvc-schema-store
      - name: schema-db # persistent schema obj from the parsed yang files
        persistentVolumeClaim:
          claimName: pvc-schema-db
      - name: workspace-store # git workspace
        persistentVolumeClaim:
          claimName: pvc-workspace-store
