apiVersion: v1
kind: Service
metadata:
  name: __RELEASE__
spec:
  type: ClusterIP
  selector:
    app: __RELEASE__
  ports:
    - name: netconf
      protocol: TCP
      port: 830
      targetPort: 830
