---
rbac:
  create: true

global:
  imageRegistry:

apiServer:
  image:
    registry: ghcr.io
    repository: sdcio/config-server-api-server
    tag: "v0.0.55"
    pullPolicy: IfNotPresent

  serviceAccount:
    create: true
    name: api-server

  persistentVolume:
    size: 10Gi
    accessModes:
      - ReadWriteOnce

  env: {}

  extraArgs: {}
    # feature-gates: "APIPriorityAndFairness=false"

  resources:
    requests:
      memory: "128Mi"
      cpu: "250m"
    limits:
      memory: "256Mi"
      cpu: "500m"

controller:
  image:
    registry: ghcr.io
    repository: sdcio/config-server-controller
    tag: "v0.0.55"
    pullPolicy: IfNotPresent

  serviceAccount:
    create: true
    name: controller

  persistentVolume:
    size: 10Gi
    accessModes:
      - ReadWriteOnce

  env:
    PPROF_PORT: "8081"
    # REVERTIVE: "true"
    # ENABLE_SUBSCRIPTION:  "true"
    # ENABLE_TARGET: "true"
    # ENABLE_TARGETDATASTORE: "true"
    # ENABLE_TARGETCONFIG: "true"
    # ENABLE_TARGETRECOVERYCONFIG: "true"
    ENABLE_DISCOVERYRULE: "true"
    # ENABLE_SCHEMA: "true"
    # ENABLE_CONFIG: "true"
    ENABLE_CONFIGSET: "true"
    ENABLE_WORKSPACE: "true"
    ENABLE_ROLLOUT: "true"

  extraArgs: {}

  resources:
    requests:
      memory: "128Mi"
      cpu: "250m"
    limits:
      memory: "256Mi"
      cpu: "500m"

dataServer:
  controller:
    image:
      registry: ghcr.io
      repository: sdcio/config-server-controller
      tag: "v0.0.55"
    env:
      PPROF_PORT: "8081"
      REVERTIVE: "true"
      ENABLE_SUBSCRIPTION:  "true"
      ENABLE_TARGET: "true"
      ENABLE_TARGETDATASTORE: "true"
      ENABLE_TARGETCONFIG: "true"
      ENABLE_TARGETRECOVERYCONFIG: "true"
      # ENABLE_DISCOVERYRULE: "true"
      ENABLE_SCHEMA: "true"
      # ENABLE_CONFIG: "true"
      # ENABLE_CONFIGSET: "true"
      # ENABLE_WORKSPACE: "true"
      # ENABLE_ROLLOUT: "true"

    extraArgs: {}
    resources:
      requests:
        memory: "64Mi"
        cpu: "250m"
      limits:
        memory: "128Mi"
        cpu: "500m"
  server:
    image:
      registry: ghcr.io
      repository: sdcio/data-server
      tag: "v0.0.67"
    env: {}
    extraArgs: {}
    resources:
      requests:
        memory: "64Mi"
        cpu: "250m"
      limits:
        memory: "128Mi"
        cpu: "500m"

  replicas: 1

  persistentVolumes:
    schemaStore:
      size: 10Gi
      accessModes:
        - ReadWriteOnce
    schemaDb:
      size: 10Gi
      accessModes:
        - ReadWriteOnce

  serviceAccount:
    create: true
    name: data-server-controller

  # disabledValidators:
  #   mandatory: false
  #   leafref: false
  #   leafref-min-max-attributes: false
  #   pattern: false
  #   must-statement: false
  #   length: false
  #   range: false
  #   max-elements: false
